@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}


<body class="bg-gradient-primary" style="background: var(--bs-pink);">
    <div class="container" style="background: var(--bs-pink);">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10" style="background: var(--bs-pink);">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                           
                            <div class="col-lg-6">
                                <div class="p-5" style="border-radius: 20px;border: 3.17px none var(--bs-blue) ;">
                                    <div class="text-center">
                                     <p>
                                         Please check your email to reset your password.
                                       </p>   
                                    <div class="text-center"><a  asp-area="Identity" asp-page="/Account/Register" class="small">Create an Account!</a></div>
                                     <div class="text-center"><a class="small" asp-area="Identity" asp-page="/Account/Login">Already have an account? Login!</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
  </body>




