@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}


<body class="bg-gradient-primary" style="background: var(--bs-pink);">
    <div class="container" style="background: var(--bs-pink);">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10" style="background: var(--bs-pink);">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                           
                            <div class="col-lg-6">
                                <div class="p-5" style="border-radius: 20px;border: 3.17px none var(--bs-blue) ;">
                                    <div class="text-center">
                                     <h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
  </body>


