@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}


<body class="bg-gradient-primary" style="border-color: var(--bs-pink);background: var(--bs-pink);">
<div class="container" style="background: var(--bs-pink);">
        <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0">
                <div class="row">
                   
                    <div class="col-lg-7">
                        <div class="p-5" style="border-radius: 20px;border: 3.17px none var(--bs-pink) ;">
                            <h1 style="text-align: center;font-weight: bold;font-style: italic;color: var(--bs-pink);">KiteLearn</h1>
                            <div class="text-center">
                                <h4 class="text-dark mb-4">Reset your Password!</h4>
                            </div>
                            <form method="post" class="user">
                                 <hr />
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input asp-for="Input.Code" type="hidden" />
                                <div class="mb-3"><input asp-for="Input.Email" class="form-control form-control-user" type="email" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Email Address" name="email">
                                <span asp-validation-for="Input.Email" class="text-danger"></span>    
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-6 mb-3 mb-sm-0"><input asp-for="Input.Password"  class="form-control form-control-user" type="password" id="examplePasswordInput" placeholder="Password" name="password">
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>    
                                    </div>
                                    <div class="col-sm-6"><input asp-for="Input.ConfirmPassword"  class="form-control form-control-user" type="password" id="exampleRepeatPasswordInput" placeholder="Repeat Password" name="password_repeat">
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>    
                                    </div>
                                </div><button class="btn btn-primary d-block btn-user w-100" type="submit">Reset Passsword</button>
                               
                            </form>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   

<!---
<h1>@ViewData["Title"]</h1>
<h4>Reset your password.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Reset</button>
        </form>
    </div>
</div>
-->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
</body>